.container {
	box-sizing: border-box;
	padding: 20px;
	border-radius: 8px;

	&.success {
		background-color: rgba(0 255 0 / .3);
	}

	&.error {
		background-color: rgba(255 0 0 / .3);
	}

	&.warning {
		background-color: rgba(255 255 0 / .3);
	}

	&.info {
		background-color: #808080;
	}

	.description {
		margin: 0;

		font-size: 16px;
		line-height: 130%;
	}
}
