.container {
	position: relative;

	box-sizing: border-box;
	padding: 30px 50px;
	border-radius: 8px;

	&.created {
		background-color: rgb(255 0 0 / .3);
	}

	&.created_edited {
		background-color: rgba(255 255 0 / .3);
	}

	&.complete {
		background-color: rgba(0 255 0 / .3);
	}

	&.complete_edited {
		background-color: rgba(0 0 255 / .3);
	}

	.header {
		display: flex;
		justify-content: space-between;
	}

	.title {
		margin: 0;

		font-size: 18px;
		line-height: 130%;
	}

	.hint {
		margin: 0;
	}

	.status {
		flex-grow: 0;

		margin: 0;

		text-align: left;
	}

	.statusSelect {
		min-width: 250px;
	}

	.description {
		margin: 10px 0 0;

		font-size: 16px;
		line-height: 130%;
	}

	.controls {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.editButton,
	.saveButton,
	.completeButton {
		display: block;

		width: 30px;
		height: 30px;

		margin-top: 5px;

		padding: none;

		border: 1px solid grey;
		border-radius: 4px;
		outline: none;

		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 20px;

		cursor: pointer;
	}

	.editButton {
		background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 386.615 386.615'><path d='M36.573 309.292h2.09l100.833-21.943a9.924 9.924 0 005.224-2.612l170.84-170.841a65.833 65.833 0 0019.331-47.02 67.916 67.916 0 00-19.331-47.543A65.825 65.825 0 00268.54.003a64.262 64.262 0 00-47.02 19.853L51.201 190.696a9.404 9.404 0 00-3.135 4.702L26.124 296.231a11.493 11.493 0 003.135 9.927 10.45 10.45 0 007.314 3.134zM268.54 20.901c25.103-.002 45.454 20.347 45.456 45.45l-.003.525a43.886 43.886 0 01-13.061 31.869l-64.261-64.784a44.93 44.93 0 0131.869-13.06zm-46.498 28.212l64.261 64.261-148.898 148.375-64.261-63.739L222.042 49.113zM64.785 218.909l51.722 51.722-66.351 14.629 14.629-66.351zM368.328 365.717H18.287c-5.771 0-10.449 4.678-10.449 10.449s4.678 10.449 10.449 10.449h350.041c5.771 0 10.449-4.678 10.449-10.449s-4.678-10.449-10.449-10.449z'/></svg>");
	}

	.saveButton {
		background-image: url("data:image/svg+xml,<svg height='512' viewBox='0 0 512.007 512.007' width='512' xmlns='http://www.w3.org/2000/svg'><path d='M511.927 126.537a15.028 15.028 0 00-3.315-8.027c-.747-.913 6.893 6.786-114.006-114.113A15.116 15.116 0 00383.994.003H44.999c-24.813 0-45 20.187-45 45v422c0 24.813 20.187 45 45 45h422c24.813 0 45-20.187 45-45 .001-364.186.041-339.316-.072-340.466zM345 30.003v98c0 8.271-6.729 15-15 15h-19v-113zm-64 0v113H142c-8.271 0-15-6.729-15-15v-98zm64 291H127v-19c0-8.271 6.729-15 15-15h188c8.271 0 15 6.729 15 15zm-218 161v-131h218v131zm355-15c0 8.271-6.729 15-15 15h-92v-180c0-24.813-20.187-45-45-45H142c-24.813 0-45 20.187-45 45v180H45c-8.271 0-15-6.729-15-15v-422c0-8.271 6.729-15 15-15h52v98c0 24.813 20.187 45 45 45h188c24.813 0 45-20.187 45-45v-98h2.787L482 134.217z'/></svg>");
	}

	.completeButton {
		background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/></svg>");
	}
}
