.container {
	display: inline-block;

	width: 100%;

	padding: 10px 20px;

	border: 0;
	border-radius: 3px;

	box-shadow: 0 0 0 2px rgb(0 0 0 / .15) inset;

	color: #fff;
	font-family: 'Arial';
	font-size: 16px;
	font-weight: 700;
	text-align: center;

	cursor: pointer;
	user-select: none;

	&.yellow {
		background-color: #ffc415;
	}

	&.blue {
		background-color: #0187bc;
	}
}
