.root {
	position: relative;
}

.header {
	display: flex;
	justify-content: end;

	height: 60px;

	padding: 0 30px;

	background-color: #25252a;

	.link {
		width: unset;

		margin-left: 20px;
		padding: 20px 10px;

		color: #ccc;
		text-decoration: none;
	}
}

.notificationWrapper {
	position: absolute;
	right: 20px;
	bottom: 20px;

	.notification {
		margin-top: 20px;
	}
}
